.container {
  display: grid;
  gap: 12px;
  margin: 16px;
  padding: 16px;
  background: var(--tg-theme-secondary-bg-color);
  border-radius: 16px;
}

.title {
  margin: 8px 0 16px;
  text-align: center;
}
