html,
body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
}

* {
  box-sizing: border-box;
}

.lockScroll {
  overflow: hidden;
}


/* TODO REMOVE */
:root {
    --tg-theme-button-color: #2ea6ff;
    --tg-theme-section-header-text-color: #b1c3d5;
    --tg-theme-hint-color: #b1c3d5;
    --tg-color-scheme: dark;
    --tg-theme-bg-color: #18222d;
    --tg-theme-link-color: #62bcf9;
    --tg-theme-section-bg-color: #18222d;
    --tg-theme-secondary-bg-color: #131415;
    --tg-theme-button-text-color: #ffffff;
    --tg-theme-accent-text-color: #2ea6ff;
    --tg-theme-destructive-text-color: #ef5b5b;
    --tg-theme-subtitle-text-color: #b1c3d5;
    --tg-theme-header-bg-color: #131415;
    --tg-theme-text-color: #ffffff;
    --tg-viewport-height: 100vh;
    --tg-viewport-stable-height: 100vh;
}
