.row {
  position: relative;
  width: 100%;
  padding-bottom: 14px;
}

.input {
  width: 100%;
  margin-top: 4px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid transparent;
  background: var(--tg-theme-section-bg-color);
  color: var(--tg-theme-text-color);
  outline: none;
  transition: border 0.2s ease-in-out;
}

.inputError {
  border: 1px solid var(--tg-theme-accent-text-color);
}
