.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 8px;
  background: var(--tg-theme-section-bg-color);
  text-decoration: none;
  color: var(--tg-theme-text-color);
  cursor: pointer;
}
