.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100vw;
  height: var(--tg-viewport-stable-height);
  padding: 0 8px;
}
